html {
  font-family: Merriweather, serif;
}

table {
  width: 100%;
}

td {
  height: 10em;
  border: 1px solid #ccc;
}

thead th {
  border: 1px solid #ccc;
}

.vostok {
  color: #333;
  border: 1px solid #333;
  background-color: #ccc;
  border-radius: 8px;
}

.remembrance {
  color: #991919;
  border: 1px solid #b92828;
  background-color: #f2bcbc;
  border-radius: 8px;
}

.kosmos {
  color: #666;
  border: 1px solid #666;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.surtsey {
  color: #51603f;
  border: 1px solid #6b7e54;
  background-color: #d1e0bf;
  border-radius: 8px;
}

.robert {
  color: #51603f;
  border: 1px solid #6b7e54;
  background-color: #d1e0bf;
  border-radius: 8px;
}

.india {
  color: #666;
  border: 1px solid #666;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.death {
  color: #38448e;
  border: 1px solid #1d38da;
  background-color: #d2d6f0;
  border-radius: 8px;
}

.doctor {
  color: #38448e;
  border: 1px solid #1d38da;
  background-color: #d2d6f0;
  border-radius: 8px;
}

.explorer {
  color: #666;
  border: 1px solid #666;
  background-color: #f2f2f2;
  border-radius: 8px;
}
